.site-header {
  background: #faf6e9;
  border-bottom: 3px solid #6a2c91;
  padding: 1.5rem 0;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Georgia", serif;
  font-size: 1.8rem;
  color: #5a297b;
}

.nav-menu a {
  margin-left: 2rem;
  font-size: 0.9rem;
  color: #5a297b;
  text-decoration: none;
  font-weight: 600;
}

.nav-menu a:hover {
  text-decoration: underline;
}
